<nav class="nav-bar">
    <ul class="nav-bg">
        <li><a href="/" >Home</a></li>
        <li><a href="/service/cart" >Cart</a></li>
        <li><a href="/service/orders" >My Orders</a></li>
        <li class="ml-auto"><a href="/logout" >Logout</a></li>
    </ul>
</nav>
